<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

    <resultMap id="user" type="com.plent.plantrow.entity.User">
        <result property="homeid" column="homeid"/>
        <result property="nickname" column="nickname"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <select id="findByUsername"
            parameterType="String"
            resultMap="user">

        SELECT *
        FROM USER
        WHERE username = #{username}
    </select>

    <insert id="addUserObject">

            INSERT INTO USER
            (username
            , name
            , password
            , email
            , phone
            , roles)
            VALUES(#{username}
            , #{name}
            , #{password}
            , #{email}
            , #{phone}
            , #{roles});

    </insert>

</mapper>
